extends layout

block content
  h1= 'NodeJS application that polls the RSS latest feeds from News Websites'
  p Welcome to #{title} : Developed by Manav Shrivastava
  a(href='/articles' ) Get Articles
